<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uow.dao.RefundMapper" >
  <resultMap id="BaseResultMap" type="com.uow.po.Refund" >
    <id column="refuncid" property="refuncid" jdbcType="VARCHAR" />
    <result column="customerid" property="customerid" jdbcType="VARCHAR" />
    <result column="flightid" property="flightid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    refuncid, customerid, flightid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.uow.po.RefundExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from refund
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from refund
    where refuncid = #{refuncid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from refund
    where refuncid = #{refuncid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.uow.po.RefundExample" >
    delete from refund
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.uow.po.Refund" >
    insert into refund (refuncid, customerid, flightid
      )
    values (#{refuncid,jdbcType=VARCHAR}, #{customerid,jdbcType=VARCHAR}, #{flightid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.uow.po.Refund" >
    insert into refund
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="refuncid != null" >
        refuncid,
      </if>
      <if test="customerid != null" >
        customerid,
      </if>
      <if test="flightid != null" >
        flightid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="refuncid != null" >
        #{refuncid,jdbcType=VARCHAR},
      </if>
      <if test="customerid != null" >
        #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="flightid != null" >
        #{flightid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.uow.po.RefundExample" resultType="java.lang.Integer" >
    select count(*) from refund
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update refund
    <set >
      <if test="record.refuncid != null" >
        refuncid = #{record.refuncid,jdbcType=VARCHAR},
      </if>
      <if test="record.customerid != null" >
        customerid = #{record.customerid,jdbcType=VARCHAR},
      </if>
      <if test="record.flightid != null" >
        flightid = #{record.flightid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update refund
    set refuncid = #{record.refuncid,jdbcType=VARCHAR},
      customerid = #{record.customerid,jdbcType=VARCHAR},
      flightid = #{record.flightid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.uow.po.Refund" >
    update refund
    <set >
      <if test="customerid != null" >
        customerid = #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="flightid != null" >
        flightid = #{flightid,jdbcType=VARCHAR},
      </if>
    </set>
    where refuncid = #{refuncid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uow.po.Refund" >
    update refund
    set customerid = #{customerid,jdbcType=VARCHAR},
      flightid = #{flightid,jdbcType=VARCHAR}
    where refuncid = #{refuncid,jdbcType=VARCHAR}
  </update>
</mapper>